// fonts
@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand/Quicksand-Regular.eot');
    src: local('☺'), url('fonts/Quicksand/Quicksand-Regular.woff') format('woff'), 
    url('fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'), 
    fonts/OpenSans/url('fonts/Quicksand/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat/Montserrat-Regular.eot');
    src: local('☺'), url('fonts/Montserrat/Montserrat-Regular.woff') format('woff'), 
    url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), 
    url('fonts/Montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans/OpenSans.eot');
    src: url('fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans/OpenSans.woff2') format('woff2'),
        url('fonts/OpenSans/OpenSans.woff') format('woff'),
        url('fonts/OpenSans/OpenSans.ttf') format('truetype'),
        url('fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Basic settings
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


$color_h1: tomato;

h1 {
    font-family: Quicksand, "Open sans", sans-serif;
    color: $color_h1;
}