// font family
@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand/Quicksand-Regular.eot');
    src: local('☺'), url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff'), 
    url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'), 
    fonts/OpenSans/url('../fonts/Quicksand/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: local('☺'), url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'), 
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), 
    url('../fonts/Montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans.eot');
    src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

// fonts
$main-font: Montserrat, sans-serif;
$heading-font: Quicksand, "Open sans", sans-serif;

// colors
$dark100: rgba(31, 32, 65, 1);
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.50);
$dark25: rgba(31, 32, 65, 0.25);
$dark5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

// Basic settings
html{
  font-size: 14px;
  line-height: 24px;
}
body{
  font-family: $main-font;
  color: $dark75;
}

// headings
h1, h2, h3{
  font-family: $heading-font;
  color: $dark100;
  font-weight: bold;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2{
  font-size: 19px;
  line-height: 24px;
}
h3{
  font-family: $main-font;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}